*{ margin: 0; padding: 0;}
a{text-decoration: none;}
ul,li{list-style: none;}
a{
    text-decoration: none;
}
a:visited{
    color:white;
}
body{
    width: 100%;
    background-color: #dadbf1;
}
header{
    width: 100%;
    height: 88px;
    font-family: 'GT America Standard', sans-serif;
    background-color: #000000;
}
.company:hover{
    color:#ccc;
}
.help-center:hover{
    border-bottom: 3px solid white;
}
header li{
    color:white;
    float: left;
    padding: 0 9px 0 9px;
    border-right: 3px solid #fff;
    font-size: 20px;
    cursor: pointer;
}
header li:first-child{
    padding-left:80px;
    border-right: none;
}
header li:last-child{
    border-right: none;
}
.left-nav{
    float:left;
    padding: 30px;
}
.right-nav{
    padding: 25px 80px 0 0;
    float: right;
}
.request button{
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.login button{
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(108, 108, 250, 0.941);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.login button:hover{
    background-color:#fff;
    color:black;
    cursor: pointer;
    transition: all 1s;
}
.search{
    margin: 0 auto;
    width: 100%;
    height:431px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_inner{
    margin:0 auto;
    padding: 10px;
    width: 90%;
    align-items: center;
}
.search .title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 100;;
    padding-bottom: 20px;
}
.search_box{
    display: flex;
    justify-content: center;
}
.search_form{
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 0px 10px grey;
    width: 45em;
}
.search input[type="search"]{
    width: 95%;
    height: 60px;
    padding-left:5px;
    border:none;
    border-radius: 10px 0px 0px 10px;
    
}
.search input[type="submit"]{
    float:right;
    width: 5%;
    height: 60px;
    border:none;
    border-radius: 0px 10px 10px 0px;
}
.search input[type="submit"]:hover{
    background-color: darkgray;
    cursor: pointer;
}
.content{
    width: 100%;
    height: 1190px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_inner{
    width: 80% !important;
}
.category-list{
    display: grid;
    grid-template-columns: auto auto;
}
.category-list-item{
    min-height: 115px;
    font-family: 'GT America Standard', sans-serif;
    font-size: 1.5em;
    display: flex;
    padding: 40px;
} 
.category-list-icon{
    width:20%;
}
.category-list-desc{
    width:80%;
}
.category-list-desc span{
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
}
.category-list-desc p{
    padding: 20px;
    font-size: 18px;
}
.category-list-desc a{
    padding: 20px;
    font-size: 18px;
}
.category-list-item-image{
    width: 3.5em;
    height: 3.5em;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #000000;
}
footer button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'GT America Standard', sans-serif;
    border: 3px solid rgba(108, 108, 250);
    border-radius: 20px;
    background-color: rgb(108, 108, 250);
    position: fixed;
    bottom:10px;
    right: 10px;
    color: white;
    cursor: pointer;
}
.foot_nav{
    padding-top: 50px;
    font-family: 'GT America Standard', sans-serif;
    color:white;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
}
.foot_nav h2{
    padding-bottom:15px;
    font-weight: bold;
}
.sub_nav li{
    padding-bottom: 5px;
    font-weight:300;
}
.copyright{
    float:right;
    padding: 0 10px 0 10px;
    font-family: 'GT America Standard', sans-serif;
    color: white;
    font-weight: 500;
}
.copyright p{
    font-size: 20px;
    padding-bottom: 3px;
}
